In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [4]:
df['price_range'].value_counts()

3    500
2    500
1    500
0    500
Name: price_range, dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [6]:
x=df.drop(['price_range'],1)
y=df['price_range']

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [8]:
logr=LogisticRegression()

logr.fit(x_train, y_train)

pred=logr.predict(x_test)

accuracy_score(y_test, pred)

C:\Users\Jay\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.6325

In [9]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2


bestfeatures = SelectKBest(score_func=chi2, k=10)
fit = bestfeatures.fit(x,y)

dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(x.columns)

#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns

featureScores.sort_values(by='Score',ascending=False)

            Specs          Score
13            ram  931267.519053
11      px_height   17363.569536
0   battery_power   14129.866576
12       px_width    9810.586750
8       mobile_wt      95.972863
6      int_memory      89.839124
15           sc_w      16.480319
16      talk_time      13.236400
4              fc      10.135166
14           sc_h       9.614878
10             pc       9.186054
9         n_cores       9.097556
18   touch_screen       1.928429
5          four_g       1.521572
7           m_dep       0.745820
1            blue       0.723232
2     clock_speed       0.648366
3        dual_sim       0.631011
19           wifi       0.422091
17        three_g       0.327643

In [10]:
df1=df[['ram','px_height','battery_power','px_width','mobile_wt','int_memory','sc_w','price_range']]

In [11]:
x1=df1.drop(['price_range'],1)
y1=df1['price_range']

x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size=0.2, random_state=42)

In [13]:
logr1=LogisticRegression()

logr1.fit(x1_train, y1_train)

pred1=logr1.predict(x1_test)

accuracy_score(y1_test, pred1)

C:\Users\Jay\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.6325

Trying with Random Forest

In [14]:
rf=RandomForestClassifier()

In [15]:
rf.fit(x_train, y_train)

pred=rf.predict(x_test)

accuracy_score(y_test, pred)

0.8825

In [16]:
rf.feature_importances_

array([0.0739388 , 0.00625793, 0.02812375, 0.00696755, 0.02658042,
       0.0060806 , 0.0371695 , 0.02558962, 0.0397344 , 0.02357024,
       0.02970948, 0.0532692 , 0.05575661, 0.48116126, 0.0276181 ,
       0.02790965, 0.0301998 , 0.00609825, 0.00696397, 0.0073009 ])

In [30]:
l1=pd.DataFrame(zip(x_train.columns, rf.feature_importances_))

In [34]:
l1.sort_values(1, ascending=False)

                0         1
13            ram  0.481161
0   battery_power  0.073939
12       px_width  0.055757
11      px_height  0.053269
8       mobile_wt  0.039734
6      int_memory  0.037169
16      talk_time  0.030200
10             pc  0.029709
2     clock_speed  0.028124
15           sc_w  0.027910
14           sc_h  0.027618
4              fc  0.026580
7           m_dep  0.025590
9         n_cores  0.023570
19           wifi  0.007301
3        dual_sim  0.006968
18   touch_screen  0.006964
1            blue  0.006258
17        three_g  0.006098
5          four_g  0.006081

In [36]:
df2=df[['ram','px_height','battery_power','px_width','mobile_wt','int_memory','price_range']]

In [37]:
x2=df2.drop(['price_range'],1)
y2=df2['price_range']

x2_train, x2_test, y2_train, y2_test = train_test_split(x2, y2, test_size=0.2, random_state=42)

       ram  px_height  battery_power  px_width  mobile_wt  int_memory
0     2549         20            842       756        188           7
1     2631        905           1021      1988        136          53
2     2603       1263            563      1716        145          41
3     2769       1216            615      1786        131          10
4     1411       1208           1821      1212        141          44
...    ...        ...            ...       ...        ...         ...
1995   668       1222            794      1890        106           2
1996  2032        915           1965      1965        187          39
1997  3057        868           1911      1632        108          36
1998   869        336           1512       670        145          46
1999  3919        483            510       754        168          45

[2000 rows x 6 columns]

In [39]:
rf.fit(x2_train, y2_train)

pred2=rf.predict(x2_test)

accuracy_score(y2_test, pred2)

0.9225